body {
	margin: 0;
}
.heading {
	text-align: center;
	background: #701e20;
	color: white;
}
.timedate {
	margin-left: 4px;
	font-size: 25px;
	color: #701e20;
	position: absolute;  
	top: 20px;
	left: 20px;
	font-size: 25px;
	color: #701e20;
	z-index: 2;
}
.aParent div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px; 
}
.maroontext {
	color: #701e20;
}
.bigbuc {
	max-width: 600px;
	height: auto;
	display: block;
}
.leftmain {
	position: relative;
	display: inline-block;
	float: left;
	clear: none;
}
.rightmain {
}
.timetable {
	color: #701e20;
	font-size: 34px;
.current-period td {
	font-weight: bold;
}
